@page "/stepby"



    <PageTitle>Adoption Instructions</PageTitle>

    <h4>Step by Step Adoption Process</h4>

<style>
    .tab {
        display: inline-block;
        margin-left: 40px;
    }

    .tab2 {
        display: inline-block;
        margin-left: 80px;
    }

</style>


<b> Check Adoption Requirements</b>
<br />
<span class="tab"></span>- Be at least 18 years old.
<br />
<span class="tab"></span>- Provide proof of pet-friendly housing if you rent.
<br />
<span class="tab"></span>- Demonstrate the ability to provide a stable, loving home for the dog.
<br />
<br />
<b> Create an Account</b>
<br />
<span class="tab"></span>- Visit our website and create a free account.
<br />
<span class="tab"></span>- This will allow you to save your application progress and receive updates about our dogs.
<br />
<br />
<b> Submit an Adoption Application</b>
<br />
<span class="tab"></span>- Complete the online form with details about your lifestyle, home environment, and previous pet experience.
<br />
<span class="tab"></span>- Be thorough; the more we know, the better we can match you with the perfect dog.
<br />
<br />
<b> Application Review</b>
<br />
<span class="tab"></span>- Our team will review your application, which typically takes 3–5 business days.
<br />
<span class="tab"></span>- If additional details are needed, we’ll reach out to you.
<br />
<br />
<b> Meet the Dogs</b>
<br />
<span class="tab"></span>- Once approved, schedule a meet-and-greet at the shelter or attend one of our adoption events.
<br />
<span class="tab"></span>- Spend time with the dogs to find the right fit for your family.
<br />
<br />
<b> Home Visit (If Required) </b>
<br />
<span class="tab"></span>- In some cases, a quick home check may be arranged to ensure a safe and suitable environment for the dog.
<br />
<br />
<b> Finalize the Adoption</b>
<br />
<span class="tab"></span>- Once you’ve chosen a dog, you’ll sign an adoption agreement outlining your responsibilities as a pet owner.
<br />
<span class="tab"></span>- Pay the adoption fee, which varies depending on the dog’s age:
<br />
<span class="tab2"></span>- Puppies (under 1 year): $250
<br />
<span class="tab2"></span>- Adult Dogs (1–7 years): $150
<br />
<span class="tab2"></span>- Senior Dogs (8+ years): $75
<br />
<br />
<b> Prepare for Pick-Up Day</b>
<br />
<span class="tab"></span>- Bring a leash, collar, and any necessary supplies to the shelter when you come to take your new pet home.
<br />
<span class="tab"></span>- Our team will provide any final advice and resources to help with the transition.
<br />
<br />
<b> Welcome Your New Family Member</b>
<br />
<span class="tab"></span>- Take your new dog home and start building your life together!
<br />
<span class="tab"></span>- Reach out to us for post-adoption support, including training tips and veterinary recommendations.
<br />
<br />