@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Adogtion!</h1>

<br />At Adogtion, our mission is to connect rescue dogs with loving forever homes, transforming their lives and the lives of their new families. We are dedicated to providing a safe and caring environment for dogs of all breeds, ages, and backgrounds until they find their perfect match. Our shelter is more than just a place of transition; it's a community built on compassion, where each dog receives medical care, training, and affection to prepare them for their new chapter. By adopting through Adogtion, you’re not just giving a dog a second chance—you’re gaining a lifelong friend and making room for us to help even more dogs in need.
<br />
<br />
Email: Adogtion@gmail.com
<br />
<br />
Phone Number: 1(80A)-DOG-TION
<br />
<br />
Address:
<br />
1234 Adogtion Road, Fargo ND 58103

